In [1]:
import os
os.getcwd()

'/'

In [3]:
import os
os.chdir('/Users/syedmadni')

In [5]:
import os
os.getcwd()

'/Users/syedmadni'

In [6]:
% % writefile myfile.txt
Hello this is a text file
this is a second line
this is a third line

Overwriting myfile.txt

I/O with basic files in python

In [7]:
% % writefile newfile.txt
Hello this is a text file
this is a second line
this is a third line

Writing newfile.txt

In [8]:
myfile = open('newfile.txt')

In [9]:
myfile = open('whoops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

In [10]:
pwd

'/Users/syedmadni'

In [11]:
myfile = open('newfile.txt')

In [12]:
myfile.read()  # To get each object or elements in strings

'Hello this is a text file\nthis is a second line\nthis is a third line\n'

In [13]:
myfile.read()

''

In [14]:
myfile.seek(0)  # To reset the cursor to the zero position to read again

0

In [15]:
myfile.read()

'Hello this is a text file\nthis is a second line\nthis is a third line\n'

In [16]:
myfile.seek(0)

0

In [17]:
contents = myfile.read()

In [18]:
contents

'Hello this is a text file\nthis is a second line\nthis is a third line\n'

In [19]:
myfile.seek(0)

0

In [20]:
myfile.readlines()  # To get each line as a seperate object or elements in list

['Hello this is a text file\n',
 'this is a second line\n',
 'this is a third line\n']

In [23]:
myfile.close()

In [24]:
with open('newfile.txt') as my_new_file:  # using 'with' statement to close the file automatically
    contents = my_new_file.read()

In [25]:
contents

'Hello this is a text file\nthis is a second line\nthis is a third line\n'

In [26]:
with open('newfile.txt', mode='r') as myfile:
    contents

In [27]:
contents

'Hello this is a text file\nthis is a second line\nthis is a third line\n'

1. mode = 'r' is read only
2. mode = 'w' is write only (will overwrite files or create new)
3. mode = 'a' is append only (will add onto files)
4. mode = 'r+' is reading and writing
5. mode = 'w+' is writing and reading

In [35]:
% % writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [36]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [37]:
with open('my_new_file.txt', mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [38]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

FOUR ON FOURTH

In [40]:
with open('me.txt', mode='w') as f:
    f.write('I CREATED THIS!')

In [41]:
with open('me.txt', mode='r') as f:
    print(f.read())

I CREATED THIS!

In [46]:
with open('syed.txt', mode='w') as p:
    p.write('madni')

In [47]:
with open('syed.txt', mode='r') as p:
    print(p.read())

madni

If Elif and Else Statements in Python

In [ ]:
Syntax:

if some_condition:

  # execute some code


elif some_other_condition:

    # do something different


else:

    # do something different

In [49]:
hungry = True
if hungry:
    print('Feed me')
else:
    print('Im not hungry')

Feed me

In [50]:
hungry = False
if hungry:
    print('Feed me')
else:
    print('Im not hungry')

Im not hungry

In [129]:
loc = 'bank'
if loc == "auto shop":
    print('cars')
elif loc == 'bank':
    print('Money is cool!')
elif loc == 'store':
    print('Things!')
else:
    print('I dont know much')

Money is cool!

In [62]:
name = 'Madni'

if name == "Frankie":
    print('Hello Frankie!')

elif name == 'Sammy':
    print('Hello Sammy!')

else:
    print('Bye Byee!')

Bye Byee!

For loop

In [ ]:
Syntax:

my_iterable = [1, 2, 3]
for item_name in my_iterable:
    print(item_name)

In [64]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [71]:
for num in mylist:
    # check for even:
    if num % 2 == 0:
        print(num)
    else:
        print(f'odd num : {num}')

odd num : 1
2
odd num : 3
4
odd num : 5
6
odd num : 7
8
odd num : 9
10

In [75]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [77]:
new_list = [2, 6, 8, 10]

In [81]:
for num in new_list:
    if num % 2 == 0:
        print(num)
    else:
        print('sorry!!')

2
6
8
10

In [82]:
mystring = 'Syed Madni'
for letter in mystring:
    print(letter)

S
y
e
d

M
a
d
n
i

In [86]:
tup = (1, 2, 3, 4)
for item in tup:
    print(item)

1
2
3
4

In [87]:
mylist = [(1, 2), (3, 4), (5, 6), (7, 8)]
len(mylist)

4

In [88]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [89]:
for (a, b) in mylist:  # This is called tuple unpacking
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [90]:
d = {'k1': 1, 'k2': 2, 'k3': 3}
for item in d:
    print(item)

k1
k2
k3

In [93]:
d = {'k1': 1, 'k2': 2, 'k3': 3}
for key, value in d.items():
    print(value)

1
2
3

While loops

In [ ]:
syntax:

while some_boolean_condition:

    # do_something
else:

    # do somthing differnt

In [97]:
x = 0
while x < 5:
    print(f'the current value of {x}')
    x = x+1
else:
    print('value not less than 5')

the current value of 0
the current value of 1
the current value of 2
the current value of 3
the current value of 4
value not less than 5

Break, Continue , Pass

Break: Breaks out of the current closet enclosing loop.

Continue: Goes to the top of closet enclosing loop.

Pass: Does nothing at all.

In [100]:
mylist = [1, 2, 3,]
for item in mylist:
    # comment
    pass
print('hello')

hello

In [105]:
mystring = 'Madni'
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

M
d
n
i

In [110]:
mystring = 'Madni'
for letter in mystring:
    if letter == 'n':
        break
    print(letter)

M
a
d

In [119]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [125]:
with open('new.txt', mode='w') as f:
    f.write('hello')

In [126]:
with open('new.txt', mode='r') as f:
    print(f.read())

hello

In [132]:
name = 'ashraf'
if name == 'madni':
    print('great')
elif name == 'ashraf':
    print('good')
else:
    print('sorryy')

good

In [141]:
x = 12
while x < 5:
    print('yes')
    x += 1
else:
    print('not true')

not true

Built-in functions

useful operators

In [146]:
mylist = [1, 2, 3]

In [150]:
for num in range(0, 11, 2):  # Range function
    print(num)

0
2
4
6
8
10

In [152]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [156]:
word = 'abcde'

for index, letter in enumerate(word):  # Enumerate function
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [157]:
mylist1 = [1, 2, 3]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]

In [158]:
for item in zip(mylist1, mylist2, mylist3):  # Zip function
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [161]:
list(zip(mylist1, mylist2,))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [162]:
mylist = [10, 20, 30, 40, 50]

In [163]:
min(mylist)

10

In [164]:
max(mylist)

50

In [165]:
from random import shuffle

In [167]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [170]:
shuffle(mylist)

In [171]:
mylist

[4, 5, 1, 2, 3, 7, 8, 6, 9, 10]

In [172]:
from random import randint

In [173]:
randint(0, 100)

35

In [174]:
randint(0, 100)

7

In [177]:
mynum = randint(0, 10)

In [178]:
mynum

7

In [182]:
result = input('what is your name? ')

In [185]:
result

'syed madni'

In [186]:
result = int(input('Favorite Number: '))

In [188]:
result

19

In [189]:
type(result)

int

List comprehensions

In [190]:
mystring = 'hello'

In [191]:
mylist = []
for letter in mystring:
    mylist.append(letter)

In [192]:
mylist

['h', 'e', 'l', 'l', 'o']

In [193]:
mylist = [letter for letter in mystring]

In [194]:
mylist

['h', 'e', 'l', 'l', 'o']

In [195]:
mylist = [x for x in 'word']

In [196]:
mylist

['w', 'o', 'r', 'd']

In [201]:
mylist = [num**2 for num in range(0, 11)]

In [202]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [203]:
mylist = [x for x in range(0, 11) if x % 2 == 0]

In [204]:
mylist

[0, 2, 4, 6, 8, 10]

In [206]:
celcius = [0, 10, 28, 32.5]

fahrenheit = [(9/5*temp+32) for temp in celcius]

In [207]:
fahrenheit

[32.0, 50.0, 82.4, 90.5]

In [209]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5*temp+32))

In [210]:
fahrenheit

[32.0, 50.0, 82.4, 90.5]

In [212]:
# If and Else statement in list comprehensions
results = [x if x % 2 == 0 else 'odd' for x in range(0, 11)]

In [213]:
results

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [216]:
mylist = []

for x in [2, 4, 6]:
    for y in [1, 10, 1000]:
        mylist.append(x*y)

In [217]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [218]:
mylist = [x*y for x in [2, 4, 6] for y in [1, 10, 1000]]

In [228]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [1]:
print("Adeel")

Adeel

In [ ]:
a = 22
b = 2200
c = 100
sum = a + b + c
print(sum)

2322

Methods and Functions

In [1]:
mylist = [1, 2, 3]

In [2]:
mylist.append(4)

In [3]:
mylist

[1, 2, 3, 4]

In [4]:
mylist.pop()

4

In [5]:
mylist

[1, 2, 3]

In [9]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

Fucntions

def keyword

In [12]:
def say_hello():
    print('Hello')
    print('are')
    print('you')

In [13]:
say_hello()

Hello
are
you

In [20]:
def say_hello(name='Default'):
    print(f'hello {name}')

In [24]:
say_hello('madni')

hello madni

In [25]:
def add_num(num1, num2):
    return num1 + num2

In [27]:
result = add_num(10, 20)

In [28]:
result

30

In [32]:
def print_result(a, b):
    print(a+b)

In [35]:
result = print_result(10, 20)

30

In [37]:
type(result)

NoneType

In [38]:
def return_result(a, b):
    return a+b

In [40]:
result = return_result(10, 20)

In [44]:
result

30

In [43]:
type(result)

int

In [45]:
def myfuc(a, b):
    print(a+b)
    return a+b

In [46]:
result = myfuc(10, 30)

40

In [47]:
result

40

In [48]:
def sum_num(num1, num2):
    return num1+num2

In [51]:
sum_num(10, 20)

30

In [52]:
sum_num('10', '20')

'1020'

Functions with logic

In [53]:
2 % 2

0

In [54]:
20 % 2 == 0

True

In [55]:
21 % 2 == 0

False

In [56]:
def even_check(number):
    result = number % 2 == 0
    return result

In [57]:
even_check(20)

True

In [58]:
even_check(21)

False

In [59]:
# RETURN TRUE IF ANY NUMBER IS EVEN IN LIST

In [68]:
def check_even_list(num_list):

    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass

In [71]:
check_even_list([1, 3, 5])

In [72]:
check_even_list([2, 4, 6])

True

In [80]:
def check_even_list(num_list):
    # return all the even number in list

    # placeholders vaiable

    even_number = []

    for number in num_list:
        if number % 2 == 0:
            even_number.append(number)

        else:
            pass
    return even_number

In [81]:
check_even_list([1, 2, 3, 4, 5])

[2, 4]

In [82]:
check_even_list([3, 5, 7, 9])

[]

In [84]:
check_even_list([2, 2, 2, 2])

[2, 2, 2, 2]

Tuple unpacking with functions

In [85]:
stock_prices = [('APPL', 200), ('GOOG', 400), ('MSFT', 500)]

In [86]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 500)

In [91]:
for ticker, price in stock_prices:
    print(price+(0.1*price))

220.0
440.0
550.0

In [111]:
work_hours = [('Abby', 20000), ('Billy', 4000), ('Cassie', 500)]

In [112]:
def employee_check(work_hours):

    current_max = 0
    employee_of_month = ''

    for employee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass

        # return
        return (employee_of_month, current_max)

In [114]:
result = employee_check(work_hours)

In [115]:
result

('Abby', 20000)

In [116]:
name

'Abby'

In [117]:
hours

200

In [125]:
example = [1, 2, 3, 4, 5, 6, 7]

In [126]:
from random import shuffle

In [127]:
shuffle(example)

In [128]:
example

[2, 6, 4, 7, 5, 1, 3]

In [129]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [131]:
result = shuffle_list(example)

In [132]:
result

[5, 6, 3, 4, 1, 7, 2]

In [133]:
mylist = ['', 'O', '']

In [134]:
shuffle_list(mylist)

['O', '', '']

In [136]:
def player_guess():

    guess = ''

    while guess not in ['0', '1', '2']:
        guess = input("pick a number: 0,1,or,2")

        return int(guess)

In [137]:
player_guess()

2

In [142]:
player_guess()

2

In [144]:
myindex = player_guess()

In [145]:
myindex

2

In [152]:
def check_guess(mylist, guess):
    if mylist[guess] == '0':
        print("correct!")
    else:
        print("wrong guess!")
        print(mylist)

In [158]:
# INITIAL LIST
mylist = ['', 'O', '']

# SHUFFLE LIST
mixedup_list = shuffle_list(mylist)

# USER LIST
guess = player_guess()

# CHECK LIST
check_guess(mixedup_list, guess)

wrong guess!
['', '', 'O']

\*Args and \*\*Kwargs

In [161]:
def myfunc(a, b):

    # Returns 5% of a and b
    return sum((a, b)) * 0.05

In [162]:
myfunc(40, 60)

5.0

In [164]:
def myfunc(*args):
    return sum(args) * 0.05

In [165]:
myfunc(40, 60, 100, 1, 4)

10.25

In [166]:
def myfunc(*args):
    print(args)

In [167]:
myfunc(40, 60, 100, 1, 4)

(40, 60, 100, 1, 4)

In [168]:
def myfunc(*args):        # *Args return tuple
    for item in args:
        print(item)

In [169]:
myfunc(40, 60, 100, 1, 4)

40
60
100
1
4

In [175]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('my fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [179]:
myfunc(fruit='Apple', veggie='lettuce')    # **kwargs return dictionary

{'fruit': 'Apple', 'veggie': 'lettuce'}
my fruit of choice is Apple

In [184]:
def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[2], kwargs['fruit']))

In [185]:
myfunc(10, 20, 30, fruit='mango', food='eggs', animal='dog')

(10, 20, 30)
{'fruit': 'mango', 'food': 'eggs', 'animal': 'dog'}
I would like 30 mango

In [186]:
def myfunc(s):
    result = ""
    for i in range(len(s)):
        if i % 2 == 0:
            result += s[i].upper()
        else:
            result += s[i].lower()
    return result

Lamda expressions , Map and Filter functions

In [1]:
def square(num):     # Map function
    return num**2

In [2]:
my_nums = [1, 2, 3, 4, 5]

In [3]:
for item in map(square, my_nums):
    print(item)

1
4
9
16
25

In [5]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [6]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [7]:
names = ['Syed', 'Madni', 'Ashraf']

In [9]:
list(map(splicer, names))

['EVEN', 'M', 'EVEN']

In [10]:
def check_even(num):     # Filter function
    return num % 2 == 0

In [16]:
mynums = [1, 2, 3, 4, 5, 6]

In [17]:
list(filter(check_even, mynums))

[2, 4, 6]

In [19]:
for n in filter(check_even, mynums):
    print(n)

2
4
6

In [32]:
lambda num: num ** 2     # Lambda function

In [33]:
square(5)

25

In [34]:
list(map(lambda num: num ** 2, mynums))   # With map function

[1, 4, 9, 16, 25, 36]

In [37]:
list(filter(lambda num: num % 2 == 0, mynums))   # With filter function

[2, 4, 6]

In [38]:
names

['Syed', 'Madni', 'Ashraf']

In [39]:
list(map(lambda name: name[0], names))

['S', 'M', 'A']

Nested statement and Scope

In [54]:
x = 25


def printer():
    x = 50
    return x

In [55]:
print(x)

25

In [59]:
print(printer())

50

LEGB RULE

1. Local(L): Defined inside function/class

2. Enclosed(E): Defined inside enclosing functions(Nested function concept)

3. Global(G): Defined at the uppermost level

4. Built-in(B): Reserved names in Python builtin modules

In [60]:
lambda num: num ** 2

In [73]:
# GLOBAL
name = 'I AM A GLOBAL STRING'


def Greet():

    # ENCLOSING
    name = 'Syed'

    def Hello():
        # LOCAL
        name = 'I Am A LOCAL'
        print(' Hello ' + name)
    Hello()

In [74]:
Greet()

 Hello I Am A LOCAL

In [76]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [83]:
x = 50


def func(x):

    print(f'X is {x}')

    # Local reassignment
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED GlOBAL X TO {x}')
    return x

In [84]:
print(x)

50

In [86]:
x = func(x)

X is 50
I JUST LOCALLY CHANGED GlOBAL X TO NEW VALUE

In [87]:
x

'NEW VALUE'

In [80]:
func(x)

X is 50
I JUST LOCALLY CHANGED X TO 200

MILESTONE PROJECT

Displaying Information

In [1]:
print([1, 2, 3])
print([4, 5, 6])
print([7, 8, 9])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [2]:
def display(row1, row2, row3):
    print(row1)
    print(row2)
    print(row3)

In [3]:
row1 = [' ', ' ', ' ']
row2 = [' ', ' ', ' ']
row3 = [' ', ' ', ' ']

In [4]:
display(row1, row2, row3)

[' ', ' ', ' ']
[' ', ' ', ' ']
[' ', ' ', ' ']

In [5]:
row2[1] = 'X'

In [6]:
display(row1, row2, row3)

[' ', ' ', ' ']
[' ', 'X', ' ']
[' ', ' ', ' ']

Accepting User Input

In [7]:
input("Please enter a value: ")

'2'

In [8]:
result = input("Please enter a value: ")

In [9]:
result

'2'

In [10]:
result = input("Enter value: ")

In [11]:
result_int = int(result)

In [12]:
type(result)

str

In [13]:
type(result_int)

int

In [14]:
type(2.3)

float

In [15]:
position_index = int(input("Choose a position index"))

In [16]:
type(position_index)

int

In [17]:
row1

[' ', ' ', ' ']

In [20]:
row1[position_index]

' '

Validating User Input

In [23]:
def user_choice():
    choice = input("Please enter a number (0-10): ")
    return int(choice)

In [26]:
user_choice()

9

In [3]:
def user_choice():

    choice = 'WRONG'
    while choice.isdigit() == False:

        choice = input("Please enter a number (0-10): ")
        if choice.isdigit() == False:
            print('sorry that is not a digit')
    return int(choice)

In [4]:
user_choice()

sorry that is not a digit
sorry that is not a digit

2

In [5]:
result = "Wrong value"

In [6]:
acceptable_value = [0, 1, 2]

In [7]:
result in acceptable_value

False

In [8]:
result not in acceptable_value

True

In [15]:
def user_choice():

    # VARIABLES

    # INITIAL

    choice = 'WRONG'
    acceptable_range = range(0, 10)
    within_range = False

    # TWO CONDITION TO CHECK
    # DIGIT OR WITHIN_RANGE==FALSE

    while choice.isdigit() == False or within_range == False:

        choice = input("Please enter a number (0-10): ")

        # DIGIT CHECK

        if choice.isdigit() == False:
            print('sorry that is not a digit')

      # RANGE CHECK
        if choice.isdigit() == True:
            if int(choice) in acceptable_range:
                within_range = True
            else:
                print("sorry you are out of acceptable range(0-10)")
                within_range = False

    return int(choice)

In [16]:
user_choice()

sorry that is not a digit
sorry you are out of acceptable range(0-10)

5

Simple User Interaction

In [17]:
game_list = [0, 1, 2]

In [20]:
def display_game(game_list):
    print("Here is the current list: ")
    print(game_list)

In [21]:
display_game(game_list)

Here is the current list:
[0, 1, 2]

In [22]:
def position_choice():

    choice = 'Wrong'

    while choice not in ['0', '1', '2']:

        choice = input("Pick a position (0,1,2): ")

        if choice not in ['0', '1', '2']:
            print('Sorry, invalid choice ')

    return int(choice)

In [23]:
position_choice()

Sorry, invalid choice
Sorry, invalid choice

1

In [24]:
def replacement_choice(game_list, position):

    user_placement = input("Type a string to place at position: ")

    game_list[position] = user_placement

    return game_list

In [28]:
replacement_choice(game_list, 0)

['syed', 'test', 2]

In [29]:
replacement_choice(game_list, 1)

['syed', 'madni', 2]

In [30]:
replacement_choice(game_list, 2)

['syed', 'madni', 'ashraf']

In [31]:
def gameon_choice():

    choice = 'Wrong'

    while choice not in ['Y', 'N']:

        choice = input("Keep playing? (Y or N) ")

        if choice not in ['Y', 'N']:
            print('Sorry, I dont understand, Please choose Y or N ')

    if choice == "Y":
        return True
    else:
        return False

In [33]:
gameon_choice()

False

In [38]:
game_on = True
game_list = [0, 1, 2]

while game_on:

    display_game(game_list)

    position = position_choice()

    game_list = replacement_choice(game_list, position)

    display_game(game_list)

    game_on = gameon_choice()

Here is the current list:
[0, 1, 2]
Here is the current list:
['Hello', 1, 2]
Here is the current list:
['Hello', 1, 2]
Here is the current list:
['Hello', 'Hii', 2]

Tic Tak Toe

In [22]:
from IPython.display import clear_output


def display_board(board):
    clear_output()
    print('    |   |')
    print('  ' + board[7] + ' | ' + board[8] + ' | ' + board[9])
    print('    |   |')
    print('-------------')
    print('    |   |')
    print('  ' + board[4] + ' | ' + board[5] + ' | ' + board[6])
    print('    |   |')
    print('-------------')
    print('    |   |')
    print('  ' + board[1] + ' | ' + board[2] + ' | ' + board[3])
    print('    |   |')

In [23]:
test_board = ['#', 'X', 'O', 'X', 'O', 'X', 'O', 'X', 'O', 'X']
display_board(test_board)

    |   |
  X | O | X
    |   |
-------------
    |   |
  O | X | O
    |   |
-------------
    |   |
  X | O | X
    |   |

In [24]:
def player_input():
    '''
    OUTPUT = (Player 1 marker, Player 2 marker)
    '''

    marker = ''
    while not (marker == 'X' or marker == 'O'):
        marker = input('Player1: choose X or O: ').upper()

        if marker == 'X':

            return ('X', 'O')
        else:
            return ('O', 'X')

In [25]:
player1_marker, player2_marker = player_input()

In [26]:
player1_marker

'O'

In [27]:
def place_marker(board, marker, position):

    board[position] = marker

In [28]:
test_board

['#', 'X', 'O', 'X', 'O', 'X', 'O', 'X', 'O', 'X']

In [29]:
place_marker(test_board, '$', 8)
display_board(test_board)

    |   |
  X | $ | X
    |   |
-------------
    |   |
  O | X | O
    |   |
-------------
    |   |
  X | O | X
    |   |

In [30]:
def win_check(board, mark):

    # WIN TIC TAC TOE?

    return ((board[7] == mark and board[8] == mark and board[9] == mark) or  # across the
            # across the middle
            (board[4] == mark and board[5] == mark and board[6] == mark) or
            # across the bottom
            (board[1] == mark and board[2] == mark and board[3] == mark) or
            # down the middle
            (board[7] == mark and board[4] == mark and board[1] == mark) or
            # down the middle
            (board[8] == mark and board[5] == mark and board[2] == mark) or
            # down the right side
            (board[9] == mark and board[6] == mark and board[3] == mark) or
            # diagnol
            (board[7] == mark and board[5] == mark and board[3] == mark) or
            (board[9] == mark and board[5] == mark and board[1] == mark))   # diagnol

In [31]:
display_board(test_board)
win_check(test_board, 'X')

    |   |
  X | $ | X
    |   |
-------------
    |   |
  O | X | O
    |   |
-------------
    |   |
  X | O | X
    |   |

True

In [32]:
import random


def choose_first():

    flip = random.randint(0, 1)

    if flip == 0:
        return 'player1'
    else:
        return 'player2'

In [33]:
def space_check(board, position):

    return board[position] == ' '

In [34]:
def full_board_check(board):

    for i in range(1, 10):
        if space_check(board, i):
            return False

    # BOARD IS FULL IF WE RETURN TRUE
    return True

In [35]:
def player_choice(board):

    position = 0

    while position not in [1, 2, 3, 4, 5, 6, 7, 8, 9] or not space_check(board, position):
        position = int(input('Choose a position: (1-9) '))

    return position

In [36]:
def replay():

    choice = input("Play again? Enter Yes or No")

    return choice == 'Yes'

In [ ]:
# WHILE LOOP TO KEEP RUNNING THE GAME
print('Welcome to tic tac toe')

while True:

    # PLAY THE GAME

    # SET EVERYTHING UP (BOARD, WHOS FIRST, CHOOSE MARKERS X,O)
    the_board = [' ']*10
    player1_marker, player2_marker = player_input()

    turn = choose_first()
    print(turn + ' Will go first ')

    play_game = input('Ready to play? y or n?')

    if play_game == 'y':
        game_on = True

    else:
        game_on = False

    # GAME PLAY

    while game_on:

        if turn == 'Player 1':

            # Show the board
            display_board(the_board)
            # Choose a position
            position = player_choice(the_board)

            # Place the marker on the position
            place_marker(the_board, player1_marker, position)

            # Check if the won
            if win_check(the_board, player1_marker):
                display_board(the_board)
                print('PLAYER 1 HAS WON !!')
                game_on = False
            else:
                if full_board_check(the_board):
                    display_board(the_board)
                    print("TIE GAME!!")
                    game_on = False
                else:
                    turn = 'Player 2'

        else:
            # Show the board
            display_board(the_board)
            # Choose a position
            position = player_choice(the_board)

            # Place the marker on the position
            place_marker(the_board, player2_marker, position)

            # Check if the won
            if win_check(the_board, player2_marker):
                display_board(the_board)
                print('PLAYER 2 HAS WON !!')
                game_on = False
            else:
                if full_board_check(the_board):
                    display_board(the_board)
                    print("TIE GAME!!")
                    game_on = False
                else:
                    turn = 'Player 1'

        if not replay():
            break

 # BREAK OUT OF THE WHILE LOOP ON replay()

Object Oreiented Programming

CLass keyword and Attributes

In [41]:
mylist = [1, 2, 3]

In [42]:
myset = set()

In [43]:
type(myset)

set

In [44]:
type(mylist)

list

In [139]:
class Dog():

    # CLASS OBJECT ATTRIBTE
    # SAME FOR ANY INSTANCE OF A CLASS

    Species = 'Mammal'

    # The __init__ method, also known as the constructor, is used in Python classes.

    def __init__(self, breed, name):
     # Attribute                           # Self is keyword
     # We take in the argument
     # Assign it using self.attribute_name

        self.breed = breed
        self.name = name

        # OPERATIONS/Actions ----> Methods
    def bark(self, number):
        print("Woof! My name is {} and the number is {}".format(self.name, number))

In [140]:
my_dog = Dog('Lab', 'Frankie')

In [141]:
type(my_dog)

__main__.Dog

In [142]:
my_dog.breed

'Lab'

In [143]:
my_dog.name

'Frankie'

In [144]:
my_dog.Species

'Mammal'

In [145]:
my_dog.bark(10)

Woof! My name is Frankie and the number is 10

In [159]:
class Circle():

    # CLASS OBJECT ATTRIBUTE
    pi = 3.14

    def __init__(self, radius=1):

        self.radius = radius
        self.area = radius * radius * self.pi

    # METHOD
    def get_circumference(self):
        return self.radius * self.pi * 2

In [160]:
my_circle = Circle(30)

In [161]:
my_circle.pi

3.14

In [162]:
my_circle.radius

30

In [163]:
my_circle.area

2826.0

In [164]:
my_circle.get_circumference()

188.4

Inheritance

In [165]:
class Animal():

    def __init__(self):
        print("ANIMAL CREATED")

    def who_am_i(self):
        print("I am an animal")

    def eat(self):
        print("I am eating")

In [191]:
class Dog(Animal):

    def __init__(self):
        Animal().__init__()
        print("Dog created")

    def eat(self):
        print("I am a dog and eating")

    def bark(self):
        print("Woof")

In [192]:
mydog = Dog()

ANIMAL CREATED
ANIMAL CREATED
Dog created

In [193]:
mydog.eat()

I am a dog and eating

In [194]:
mydog.who_am_i()

I am an animal

In [195]:
mydog.bark()

Woof

In [167]:
myanimal = Animal()

ANIMAL CREATED

In [169]:
myanimal.who_am_i()

I am an animal

In [170]:
myanimal.eat()

I am eating

Polymorphism

In [238]:
class Dog():

    def __init__(self, name):
        self.name = name

    def speak(self):
        return self.name + " says woof "

In [239]:
class Cat():

    def __init__(self, name):
        self.name = name

    def speak(self):
        return self.name + " says meow "

In [240]:
niko = Dog("niko")
felix = Cat("felix")

In [241]:
print(niko.speak())

niko says woof

In [242]:
print(felix.speak())

felix says meow

In [243]:
for pet in [niko, felix]:

    print(type(pet))
    print(pet.speak())

<class '__main__.Dog'>
niko says woof
<class '__main__.Cat'>
felix says meow

In [244]:
def pet_speak(pet):
    print(pet.speak())

In [245]:
pet_speak(niko)

niko says woof

In [246]:
pet_speak(felix)

felix says meow

In [247]:
class Animal():

    def __init__(self, name):
        self.name = name

    def speak(self):
        raise NotImplementedError(
            "Subclass must implement this abstract method ")

In [267]:
class Dog():

    def speak(self):
        return self.name + " Says woof! "

In [273]:
class Cat():

    def speak(self):
        return self.name + " Says meow! "

Special Magic/Dunder Methods

In [279]:
mylist = [1, 2, 3]

In [280]:
len(mylist)

3

In [281]:
class Sample():
    pass

In [284]:
mysample = Sample()

In [286]:
print(mysample)

<__main__.Sample object at 0x108452510>

In [287]:
print(mylist)

[1, 2, 3]

In [311]:
class Book():

    def __init__(self, title, author, pages):

        self.title = title
        self.author = author
        self.pages = pages

    # __str__ method returns the object representation in a string format.
    def __str__(self):
        return f"{self.title} by {self.author}"

    # __len__ method is a built-in Python method that returns the length of an object.
    def __len__(self):
        return self.pages

    # __del__() when a given object is about to be destroyed.
    def __del__(self):
        print('A book object has been deleted')

In [312]:
b = Book('Python rocks', 'Madni', 200)

In [313]:
print(b)

Python rocks by Madni

In [314]:
del b

A book object has been deleted

In [315]:
b

NameError: name 'b' is not defined

In [302]:
str(b)

'Python rocks by Madni'

In [303]:
len(b)

200