In [1]:
import os
os.getcwd()

'/'

In [3]:
import os
os.chdir('/Users/syedmadni')

In [5]:
import os
os.getcwd()

'/Users/syedmadni'

In [6]:
% % writefile myfile.txt
Hello this is a text file
this is a second line
this is a third line

Overwriting myfile.txt

I/O with basic files in python

In [7]:
% % writefile newfile.txt
Hello this is a text file
this is a second line
this is a third line

Writing newfile.txt

In [8]:
myfile = open('newfile.txt')

In [9]:
myfile = open('whoops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

In [10]:
pwd

'/Users/syedmadni'

In [11]:
myfile = open('newfile.txt')

In [12]:
myfile.read()  # To get each object or elements in strings

'Hello this is a text file\nthis is a second line\nthis is a third line\n'

In [13]:
myfile.read()

''

In [14]:
myfile.seek(0)  # To reset the cursor to the zero position to read again

0

In [15]:
myfile.read()

'Hello this is a text file\nthis is a second line\nthis is a third line\n'

In [16]:
myfile.seek(0)

0

In [17]:
contents = myfile.read()

In [18]:
contents

'Hello this is a text file\nthis is a second line\nthis is a third line\n'

In [19]:
myfile.seek(0)

0

In [20]:
myfile.readlines()  # To get each line as a seperate object or elements in list

['Hello this is a text file\n',
 'this is a second line\n',
 'this is a third line\n']

In [23]:
myfile.close()

In [24]:
with open('newfile.txt') as my_new_file:  # using 'with' statement to close the file automatically
    contents = my_new_file.read()

In [25]:
contents

'Hello this is a text file\nthis is a second line\nthis is a third line\n'

In [26]:
with open('newfile.txt', mode='r') as myfile:
    contents

In [27]:
contents

'Hello this is a text file\nthis is a second line\nthis is a third line\n'

1. mode = 'r' is read only
2. mode = 'w' is write only (will overwrite files or create new)
3. mode = 'a' is append only (will add onto files)
4. mode = 'r+' is reading and writing
5. mode = 'w+' is writing and reading

In [35]:
% % writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [36]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [37]:
with open('my_new_file.txt', mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [38]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

FOUR ON FOURTH

In [40]:
with open('me.txt', mode='w') as f:
    f.write('I CREATED THIS!')

In [41]:
with open('me.txt', mode='r') as f:
    print(f.read())

I CREATED THIS!

In [46]:
with open('syed.txt', mode='w') as p:
    p.write('madni')

In [47]:
with open('syed.txt', mode='r') as p:
    print(p.read())

madni

If Elif and Else Statements in Python

In [ ]:
Syntax:

if some_condition:

  # execute some code


elif some_other_condition:

    # do something different


else:

    # do something different

In [49]:
hungry = True
if hungry:
    print('Feed me')
else:
    print('Im not hungry')

Feed me

In [50]:
hungry = False
if hungry:
    print('Feed me')
else:
    print('Im not hungry')

Im not hungry

In [129]:
loc = 'bank'
if loc == "auto shop":
    print('cars')
elif loc == 'bank':
    print('Money is cool!')
elif loc == 'store':
    print('Things!')
else:
    print('I dont know much')

Money is cool!

In [62]:
name = 'Madni'

if name == "Frankie":
    print('Hello Frankie!')

elif name == 'Sammy':
    print('Hello Sammy!')

else:
    print('Bye Byee!')

Bye Byee!

For loop

In [ ]:
Syntax:

my_iterable = [1, 2, 3]
for item_name in my_iterable:
    print(item_name)

In [64]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [71]:
for num in mylist:
    # check for even:
    if num % 2 == 0:
        print(num)
    else:
        print(f'odd num : {num}')

odd num : 1
2
odd num : 3
4
odd num : 5
6
odd num : 7
8
odd num : 9
10

In [75]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [77]:
new_list = [2, 6, 8, 10]

In [81]:
for num in new_list:
    if num % 2 == 0:
        print(num)
    else:
        print('sorry!!')

2
6
8
10

In [82]:
mystring = 'Syed Madni'
for letter in mystring:
    print(letter)

S
y
e
d

M
a
d
n
i

In [86]:
tup = (1, 2, 3, 4)
for item in tup:
    print(item)

1
2
3
4

In [87]:
mylist = [(1, 2), (3, 4), (5, 6), (7, 8)]
len(mylist)

4

In [88]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [89]:
for (a, b) in mylist:  # This is called tuple unpacking
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [90]:
d = {'k1': 1, 'k2': 2, 'k3': 3}
for item in d:
    print(item)

k1
k2
k3

In [93]:
d = {'k1': 1, 'k2': 2, 'k3': 3}
for key, value in d.items():
    print(value)

1
2
3

While loops

In [ ]:
syntax:

while some_boolean_condition:

    # do_something
else:

    # do somthing differnt

In [97]:
x = 0
while x < 5:
    print(f'the current value of {x}')
    x = x+1
else:
    print('value not less than 5')

the current value of 0
the current value of 1
the current value of 2
the current value of 3
the current value of 4
value not less than 5

Break, Continue , Pass

Break: Breaks out of the current closet enclosing loop.

Continue: Goes to the top of closet enclosing loop.

Pass: Does nothing at all.

In [100]:
mylist = [1, 2, 3,]
for item in mylist:
    # comment
    pass
print('hello')

hello

In [105]:
mystring = 'Madni'
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

M
d
n
i

In [110]:
mystring = 'Madni'
for letter in mystring:
    if letter == 'n':
        break
    print(letter)

M
a
d

In [119]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [125]:
with open('new.txt', mode='w') as f:
    f.write('hello')

In [126]:
with open('new.txt', mode='r') as f:
    print(f.read())

hello

In [132]:
name = 'ashraf'
if name == 'madni':
    print('great')
elif name == 'ashraf':
    print('good')
else:
    print('sorryy')

good

In [141]:
x = 12
while x < 5:
    print('yes')
    x += 1
else:
    print('not true')

not true

Built-in functions

useful operators

In [146]:
mylist = [1, 2, 3]

In [150]:
for num in range(0, 11, 2):  # Range function
    print(num)

0
2
4
6
8
10

In [152]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [156]:
word = 'abcde'

for index, letter in enumerate(word):  # Enumerate function
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [157]:
mylist1 = [1, 2, 3]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]

In [158]:
for item in zip(mylist1, mylist2, mylist3):  # Zip function
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [161]:
list(zip(mylist1, mylist2,))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [162]:
mylist = [10, 20, 30, 40, 50]

In [163]:
min(mylist)

10

In [164]:
max(mylist)

50

In [165]:
from random import shuffle

In [167]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [170]:
shuffle(mylist)

In [171]:
mylist

[4, 5, 1, 2, 3, 7, 8, 6, 9, 10]

In [172]:
from random import randint

In [173]:
randint(0, 100)

35

In [174]:
randint(0, 100)

7

In [177]:
mynum = randint(0, 10)

In [178]:
mynum

7

In [182]:
result = input('what is your name? ')

In [185]:
result

'syed madni'

In [186]:
result = int(input('Favorite Number: '))

In [188]:
result

19

In [189]:
type(result)

int

List comprehensions

In [190]:
mystring = 'hello'

In [191]:
mylist = []
for letter in mystring:
    mylist.append(letter)

In [192]:
mylist

['h', 'e', 'l', 'l', 'o']

In [193]:
mylist = [letter for letter in mystring]

In [194]:
mylist

['h', 'e', 'l', 'l', 'o']

In [195]:
mylist = [x for x in 'word']

In [196]:
mylist

['w', 'o', 'r', 'd']

In [201]:
mylist = [num**2 for num in range(0, 11)]

In [202]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [203]:
mylist = [x for x in range(0, 11) if x % 2 == 0]

In [204]:
mylist

[0, 2, 4, 6, 8, 10]

In [206]:
celcius = [0, 10, 28, 32.5]

fahrenheit = [(9/5*temp+32) for temp in celcius]

In [207]:
fahrenheit

[32.0, 50.0, 82.4, 90.5]

In [209]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5*temp+32))

In [210]:
fahrenheit

[32.0, 50.0, 82.4, 90.5]

In [212]:
# If and Else statement in list comprehensions
results = [x if x % 2 == 0 else 'odd' for x in range(0, 11)]

In [213]:
results

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [216]:
mylist = []

for x in [2, 4, 6]:
    for y in [1, 10, 1000]:
        mylist.append(x*y)

In [217]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [218]:
mylist = [x*y for x in [2, 4, 6] for y in [1, 10, 1000]]

In [228]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [1]:
print("Adeel")

Adeel

In [6]:
a = 22
b = 2200
c = 100
sum = a + b + c
print(sum)

2322